:root {
  --bg-color: #0c0c0c;
  --text-color: #ffffff;
  --main-color: #ae8957;
  --big-font: 6.6rem;
  --p-font: 1rem;

  @media (max-width: 1670px) {
    --big-font: 5.5rem;
    --p-font: 15px;
  }

  @media (max-width: 1370px) {
    --big-font: 4.4rem;
    --p-font: 15px;
  }

  @media (max-width: 1150px) {
    --big-font: 4.6rem;
  }

  @media (max-width: 570px) {
    --big-font: 4rem;
    --p-font: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 35px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.50s ease;

  @media (max-width: 1770px) {
    padding: 22px 4%;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .navlist {
    display: flex;

    a {
      display: inline-block;
      margin: 0 35px;
      color: var(--text-color);
      font-size: var(--p-font);
      transition: color 0.6s ease;

      &:hover {
        color: var(--main-color);
      }
    }

    @media (max-width: 950px) {
      position: absolute;
      width: 100%;
      height: 100vh;
      padding: 100px 50px;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(32px);
      transition: all 0.6s ease-in-out;

      a {
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 1.7rem;
      }

      &.open {
        left: 0;
      }
    }
  }

  .right-content {
    display: flex;
    align-items: center;

    .nav-btn {
      display: inline-block;
      padding: 9px 24px;
      background: transparent;
      border: 2px solid var(--text-color);
      border-radius: 7px;
      color: var(--text-color);
      font-size: 15px;
      font-weight: 500;
      transition: 0.6s ease;

      &:hover {
        color: var(--main-color);
        transform: translateY(-5px);
        border: 2px solid var(--main-color);
        cursor: pointer;
      }
    }

    #menu-icon {
      font-size: 42px;
      z-index: 10001;
      cursor: pointer;
      margin-left: 25px;
      display: none;

      @media (max-width: 950px) {
        display: block;
      }
    }
  }
}

section.hero {
  padding: 0 14%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;

  @media (max-width: 920px) {
    grid-template-columns: 1fr;
    height: auto;
  }

  @media (max-width: 1370px) {
    padding: 0 12%;
  }

  .hero-text {
    h1 {
      font-size: var(--big-font);
      font-weight: 900;
      margin: 10px 0;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
    }

    p {
      width: 100%;
      max-width: 620px;
      font-size: var(--p-font);
      font-weight: 400;
      line-height: 32px;
      color: var(--text-color);
      margin-bottom: 40px;
    }

    .main-hero {
      display: flex;
      align-items: center;

      .btn {
        display: inline-block;
        padding: 13px 32px;
        background: var(--main-color);
        border: 2px solid transparent;
        color: var(--text-color);
        font-size: 15px;
        font-weight: 500;
        transition: all 0.6s ease;
        margin-right: 20px;

        &:hover {
          transform: scale(1.1);
        }

        @media (max-width: 1150px) {
          padding: 10px 23px;
        }
      }

      .price {
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: bold;
        color: var(--text-color);

        span {
          font-size: 17px;
          font-weight: 17px;
          font-weight: 400;
          color: var(--main-color);
          margin-left: 10px;
        }

        @media (max-width: 1150px) {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 920px) {
      padding-top: 130px;
    }
  }

  .hero-img {
    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 920px) {
      height: 500px;
      width: 500px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @media (max-width: 570px) {
      height: 400px;
      width: 400px;
      margin: 0 auto;
    }
  }
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 7%;
  transform: translateY(-50%);

  i {
    display: block;
    margin: 35px 0;
    color: var(--text-color);
    font-size: 23px;
    transition: color 0.6s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  @media (max-width: 1770px) {
    padding: 0 4%;
  }
}

.scroll {
  position: absolute;
  top: 92%;
  right: 7%;
  transition: translateY(-50%);

  i {
    font-size: 16px;
    color: var(--text-color);
    margin-right: 10px;
  }

  @media (max-width: 1770px) {
    right: 4%;
  }

  @media (max-width: 920px) {
    display: none;
  }
}
